<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="Humanizer" version="1.35.0" targetFramework="net45" />
  <package id="MediatR" version="2.0.0-beta-001" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="3.0.3599" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0-rc4-build1049" targetFramework="net45" />
</packages>